{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Forms - Arkansas Tech University</title>
        <link type="text/css" rel="stylesheet" href="https://lum5prodcas.atu.edu/cas-web/css/cas.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/style-metronic.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/style-responsive.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/login-soft.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/custom.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/login-soft.css" rel="stylesheet" type="text/css"/>
        <link href="https://lum5prodcas.atu.edu/cas-web/themes/atu/css/custom.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="https://lum5prodcas.atu.edu/cas-web/favicon.png" type="image/x-icon" />

    </head>
    <body class="login" >
       <div id="header"><div class="logo"></div></div>
        <div class="content">
          <img src="https://lum5prodcas.atu.edu/cas-web/themes/atu/images/login_logo.png" alt="" style="width:100%"/>
          <h2>Forms Login</h2>
          <form method="post" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success pb-2">Login</button>
          </form>
        </div>
    </body>
</html>

{% endblock %}
