.material-icons {
  font-size: 25px;
  position: relative;
  top: 7px;
  margin-right: 10px;
}

.card {
  margin-top: 20px;
}

.btn-primary {
  background-color: #0A553E;
  border: 1px solid #0f805e;
}

.btn-primary:hover {
  background-color: #063124;
  border: 1px solid #0f805e;
}