{% extends "DeanProject/base.html" %}

{% block content %}
<title>Dashboard - ATU Forms</title>
<div class="container">
  <div class="row card-group">
    {% for form in forms.pending %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5>Card title <span class="badge bg-warning">Pending</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">View</a>
          {% if userGroup == 'Student' %}
          <a href="#" class="card-link">Revoke</a>
          {% endif %}
          {% if userGroup == 'Faculty' %}
          <a href="#" class="card-link">Approve</a>
          <a href="#" class="card-link">Deny</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row card-group">
    {% for form in forms.approved %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5>Card title <span class="badge bg-success">Approved</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">View</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row card-group">
    {% for form in forms.denied %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5>Card title <span class="badge bg-danger">Denied</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">View</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
