{% extends "DeanProject/base.html" %}

{% block content%}
{% load crispy_forms_tags %}

<div class="container mb-4" id="select-container">
  <form method="POST">
    {% csrf_token %}
    <h6>Please select a form from the dropdown:</h6>
    <select name="form-selector" class="form-select mb-3" onchange="this.form.submit()">
      <option selected>Select a form</option>
        <optgroup label="Forms For Registration">
        <option value="1">Permit to Register</option>
        <option value="2">Add/Drop Course</option>
      </optgroup>
      <optgroup label="Forms Graduation">
        <option value="3">Undergraduate Graduation Application</option>
        <option value="4">Master's Graduation Application</option>
      </optgroup>
      <optgroup label="Other">
        <option value="5">Degree Audit Amendment</option>
        <option value="6">Transcript Request Form</option>
      </optgroup>
    </select>
  </form>
  <form method="POST">
    {% crispy form_selector %}
  </form>
</div>
{% endblock %}
