{% extends "DeanProject/base.html" %}
{% load my_tags %}
{% block content %}
<head>
<script type="text/javascript" src="/static/viewPopup.js"></script>
</head>

<title>Pending Forms - ATU Forms</title>
<div class="container">
  <div class="row card-group">
    {% for form in forms.pending %}

    {% comment %} View Content Code START {% endcomment %}
    <script>
      function permitToRegisterView(formid){
          document.getElementById("DeanProject_permittoregister"+formid+"Content").innerHTML = "<strong> Permit to Register </strong>";

          newLinePTRV(formid, "Student ID Number: " + "{{form.student_id_number}}");
          newLinePTRV(formid, "Date: " + "{{form.date}}");
          newLinePTRV(formid, "Comments: " + "{{form.comments}}");
          newLinePTRV(formid, "Name Enrolled Under: " + "{{form.name_enrolled_under}}");
      }

      function add_dropClassView(formid){

          document.getElementById("DeanProject_add_dropclass"+formid+"Content").innerHTML = "<strong> Add/Drop Course </strong>";
          
          newLineADCV(formid, "Student ID Number: " + "{{form.student_id_number}}")
          newLineADCV(formid, "Date: " + "{{form.date}}")
          newLineADCV(formid, "Comments: " + "{{form.comments}}")
          newLineADCV(formid, "Increases in tuition and fees: " + "{{form.increases_in_tuition_and_fees}}")
          newLineADCV(formid, "Receives Financial Aid: " + "{{form.recieves_financial_aid}}")
      }

      function UGGraduationView(formid){

          document.getElementById("DeanProject_uggraduation"+formid+"Content").innerHTML = "<strong> Undergraduate Graduation Application </strong>";

          newLineUGGV(formid, "Student ID Number: " + "{{form.student_id_number}}")
      }

      function MasterGraduationView(formid){

          document.getElementById("DeanProject_mastergraduation"+formid+"Content").innerHTML = "<strong> Master's Graduation Application </strong>";

          newLineMGV(formid, "Student ID Number: " + "{{form.student_id_number}}")
          newLineMGV(formid, "Date: " + "{{form.date}}")
      }

      function DegreeAuditAmendmentRequestView(formid){

          document.getElementById("DeanProject_degreeauditamendmentrequest"+formid+"Content").innerHTML = "<strong> Degree Audit Ammendment Request </strong>";

          newLineDAARV(formid, "Student ID Number: " + "{{form.student_id_number}}")
      }

      function DegreeAuditView(formid){

          document.getElementById("DeanProject_degreeaudit"+formid+"Content").innerHTML = "<strong> Degree Audit </strong>";

          newLineDAV(formid, "Student ID Number: " + "{{form.student_id_number}}")
      }

      function TranscriptRequestView(formid){

          document.getElementById("DeanProject_transcriptrequest"+formid+"Content").innerHTML = "<strong> Transcript Request Form </strong>";

          newLineTRV(formid, "Student ID Number: " + "{{form.student_id_number}}")
      }
    </script>

    {% comment %}  View Content Code END {% endcomment %}



    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5>{{form.name_enrolled_under}} <span class="badge bg-warning">Pending</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{form | verbose_name}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{form.date}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#" class="card-link" onclick="displayPopup(popup{{form | db_table}}{{form.id}})" id="{{form | db_table}}{{form.id}}">View</a>

          <div id="popup{{form | db_table}}{{form.id}}" class="modal">
            <div class="modal-content">
              <span onclick="closePopup(popup{{form | db_table}}{{form.id}})" id="closePopup" class="close">&times;</span>

              <div id="{{form | db_table}}{{form.id}}Content">Some text in the popup..</div>
              <script>getViewContent("{{form | db_table}}", "{{form.id}}")</script>
              <div class = "card-body px-0">
                <button class = "btn btn-primary" style = "margin-right: 5px;">Approve</button>
                <button class = "btn btn-danger">Deny</button>
              </div>

              
            </div>
          </div>

          {% if userGroup == 'Student' %}
          <a href="#" class="card-link">Revoke</a>
          {% endif %}
          {% if userGroup == 'Faculty' %}
          <a href="#" class="card-link">Approve</a>
          <a href="#" class="card-link">Deny</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
