{% extends "DeanProject/base.html" %}
{% load my_tags %}
{% block content %}
<head>
<script type="text/javascript" src="/static/viewPopup.js"></script>
</head>

<title>Pending Forms - ATU Forms</title>
<div class="container">
  <div class="row card-group">
    {% for form in forms.pending %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5>{{form.name_enrolled_under}} <span class="badge bg-warning">Pending</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{form | verbose_name}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{form.date}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          {% comment %} <a href="#" class="card-link">View</a> {% endcomment %}

          {% comment %} <div class = "popup" onclick="func()"> Pop up View
          <span class="popuptext" id = "myPopup">Popup</span>
          </div> {% endcomment %}

          <a href="#" class="card-link" onclick="displayPopup()" id="popupButton">View</a>
          {% comment %} <button onclick="displayPopup()" id="popupButton">View Popup</button> {% endcomment %}

          <div id="popup" class="modal">
            <div class="modal-content">
              <span onclick="closePopup()" id="closePopup" class="close">&times;</span>

              <div id="popupContent">Some text in the popup..</div>
              <script>getViewContent("permitToRegister")</script>
              <button>Approve</button>
              <button>Deny</button>

              
            </div>
          </div>

          {% if userGroup == 'Student' %}
          <a href="#" class="card-link">Revoke</a>
          {% endif %}
          {% if userGroup == 'Faculty' %}
          <a href="#" class="card-link">Approve</a>
          <a href="#" class="card-link">Deny</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
