{% extends "DeanProject/base.html" %}

{% block content %}
<!doctype html>
<title>Success !</title>
<style>
  
  h1 { padding: 50px; margin-bottom:-25px;  font-size: 50px; }
  body { ; font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: center; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Your form was submitted successfully! </h1>
    <div>
        <p>Please return to <a href="/ ">dashboard</a>.</p>
    </div>
</article>
{% endblock %}